body{
    background-image: url('../backgrounds/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.welcome{
    color: white;
    font-family: 'new times roman';
    font-style: italic;
}

.card-header{
    font-weight: bold;
}

.layout-navbar{
    background-color: #0097a7;
}

.logo{
    width: 12%;
    height: 7%;
}

.show_image{
    width: 25%;
    height: 25%;
}

.form_image{
    width: 90%;
    height: 100%;
}

.padding-20{
    padding: 20px;
}

.green-color{
    color: green;
    font: bold;
}

.red-color{
    color: red;
    font: bold;
}

.order-completed{
    color: green;
}

.order-pending{
    color: orange;
}

.order-delivering{
    color: gray;
}

.order-canceled {
    color: red;
}